# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
bun.lockb

# Bun
.bun/

# Environment
.env
.env.*.local
.env.local

# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db

# Compiled output
dist/
build/

# Vite
.vite/

# TypeScript
*.tsbuildinfo

# Docker
*.pid
*.pid.lock
docker-compose.override.yml

# Prisma
prisma/migrations/
prisma/dev.db
prisma/dev.sqlite
*.sqlite
*.sqlite3

# Tailwind
tailwind.config.js
tailwind.config.ts

# Editor/IDE
.vscode/
.idea/
*.swp

# Postgres & pgAdmin local volumes
postgres_data/
pgadmin_data/

# Public output (opcional)
public/build/

# Cache
.cache/
.next/
out/
coverage/